/* 
hover effects on list items.

*/
:root {
    display:flex;
    justify-content: center;
    text-align: center;
}
* {
    background-color: beige;
}
#startbtn {
    display: flex;
    flex-direction: column;
}
.hide {
    display: none;
}
#startpage {

}
p {
   border-style: double;
   border-top-style: none;
   padding: 10px;
   margin: 10px;
}

