* {
    margin-top: 15px;
    background-color: rgb(224, 224, 195);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.hide {
    display: none;
}
#startBtn {
    background-color: rgb(167, 119, 212);
    color: azure;
    padding: 15px;
}

#question {
    font-size: large;
    font-weight: 200;
}

h1 {
    text-decoration: underline;
}

p {
   border-style: double;
   border-top-style: none;
   padding: 10px;
   margin: 10px;
   max-width: 400px;
}
title {
    display: none;
}

div {
    cursor:default;
}
 

